.col-xs-12
  .spacer
.col-sm-6.col-sm-offset-3.col-md-offset-0
  .jumbotron
    .col-xs-12
      .head
        center
          i.aurora-ball
          h1!= title
    .clearfix
  .well
    .row
      .col-xs-12
        h2 Animations
      .col-xs-12
        table.table.table-striped.animations.available
          tbody
    .clearfix
.col-sm-6.animations.active
