.col-xs-12.handle
  h2.handle Rain
.col-xs-12
  .form-group
    .col-xs-12
      label Occurance
      input.speed(type='range' min=0 value=33 max=100 step=1)
  .form-group
    .col-xs-12
      label Lifespan
      input.lightness(type='range' min=0 value=4 max=25 step=1)
  .form-group
    .col-xs-12
      label Spread
      input.lightness(type='range' min=3 value=3 max=25 step=1)
  .form-group
    .col-xs-12
      label Max. raindrops
      input.lightness(type='range' min=0 value=3 max=25 step=1)
  .form-group
    .col-xs-12
      label Preset
      .btn-group(data-toggle='buttons')
        label.btn.btn-primary.active
          input(type='radio' checked) None
        label.btn.btn-primary
          input(type='radio' checked) Light rain
        label.btn.btn-primary
          input(type='radio' checked) Mild rain
        label.btn.btn-primary
          input(type='radio' checked) Heavy rain
  .spacer
